<div class="mat-elevation-z2">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let row">
                @if (row.type === 'income'){
                    <mat-icon aria-hidden="false" fontIcon="arrow_forward" class="icon income" matTooltip="Income"></mat-icon>
                } @else {
                <mat-icon aria-hidden="false" fontIcon="arrow_back" class="icon expense" matTooltip="Expense"></mat-icon>
                }
            </td>
        </ng-container>

        <!-- Transaction Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
        </ng-container>


        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let row">{{ row.category }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let row">{{ row.date | date:'dd-MM-YYYY, HH:mm:ss' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
                   [length]="dataSource.data.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   aria-label="Select page">
    </mat-paginator>
</div>

<p class="my-2">Balance: {{ balance() }}</p>
